<mat-nav-list>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="administrator" >Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="register" >Register User</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="bloodbank">Blood Bank</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="campaign">Campaign</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="donation">Blood Donation</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="donor">Donor</a>

</mat-nav-list>

