mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  #login .container #login-row #login-column #login-box {
    margin-top: 180px;
    max-width: 600px;
    height: 250px;
    //border: 1px solid #f10707;
    background-color: #ffffff;
    border-radius: 3%;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 10px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: 85px;
    cursor: pointer;
  }

  .text-info{
    color: #f10707 !important;
    padding-top: 10px;
  }


.main-head{
    height: 100px;
    background: #FFF;
    
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url("../../assets/images/bg-02.jpg");
}


.main {
    padding: 0px 100px;
    
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 100%;
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}