mat-table{
    width: 100%;
}


.hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font: italic;
}

h1{
   
    background-color: brown;
    color: white;
    margin-bottom: 40px;
    padding-left: 10px;
    width: 100%;
}

.search-div{
    margin: 10px;
    
      }
      .search-form-field{
          width: 20%;
          margin-left: 10px;
          padding: 0px 8px;
          background-color: #ffffff;
          border-radius: 5px;
          border: 1px solid;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }

.mat-column-donor_name{
    flex: 0 0 17% !important;
}
.mat-column-donor_address1{
    flex: 0 0 14% !important;
}
.mat-column-donor_address2{
    flex: 0 0 14% !important;
}
.mat-column-donor_ic{
    flex: 0 0 7.5% !important;
    text-align: center;
}


.mat-column-donor_number{
    flex: 0 0 7% !important;
}
.mat-column-donor_gender{
    flex: 0 0 5% !important;
}

.mat-column-donor_bloodgroup{
    flex: 0 0 5% !important;
    justify-content: center;
}

.mat-column-donor_rhesus{
   
    justify-content: center;
}



// mat-cell, mat-header-cell, mat-footer-cell{
//      justify-content: center;
// }