<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h1 class="title">EDIT DONATION</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div mat-dialog-content>
                    
                    
                    <!-- Question 1-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">1) Do you fell well today?: <b>No</b></div>
                        </div>
                    </div>

                    <div class="space"></div>
                    <!-- Question 2-->
                   <div class="container">
                        <div class="row">
                            <div class="col-12">2. Did you have any problems during previous blood donations?: <b>No</b> </div>
                        </div>
                   </div>

                   <div class="space"></div>

                     <!-- Question 3-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">3. Have you ever been deferred from donation before?<b>No</b></div>
                            <div class="col-12"></div>
                        </div>  
                    </div>

                    <div class="space"></div>
                     <!-- Question 4-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                4. In the past week, have you:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">a) Taken any aspirin?<b>No</b></div>
                        </div>
                        <div class="row">
                            <div class="col-12">b) Taken any other medication other than aspirin? if yes, please specify:<b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-12">c) had any cough or col-12d or migraine?<b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-12">d) had any other illnesses? if yes, please specify:<b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                       
                    </div>
                    <div class="space"></div>
                     <!-- Question 5-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">5. Have you had any vaccination or injection within the last 3 weeks?<b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                    </div>
                    <div class="space"></div>
                     <!-- Question 6-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">6. Have you had any dental treatment in the past 24 hours?<b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                    </div>
                    <div class="space"></div>
                     <!-- Question 7-->
                     <div class="container">
                        <div class="row">
                            <div class="col-12">7. Have you had any tattoes/acupunture/ear-piercing in the last 1 year?: <b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                     </div>
                     <div class="space"></div>
                     <!-- Question 8-->
                     <div class="container">
                        <div class="row">
                            <div class="col-12">8. Have you had any treatment recently at any clinic or hospital? if yes, please specify type of illness and treatment received:<b>No</b></div>
                        </div>
                     </div>
                     <div class="space"></div>
                     <!-- Question 9-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">9. Have you had any of the following disease:"<b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                    </div>
                    <div class="space"></div>
                     <!-- Question 10-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">10. Have you had any other medical history of disease?if yes, please specify: <b>No</b></div>
                        </div>
                    </div>
                    <div class="space"></div>
                     <!-- Question 11-->
                    <div class="container">

                        <div class="row">
                            <div class="col">
                                11. Please state the relationship if any of your family members ever had:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">a) Hepatitis B or Hepatitis C?: <b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-12">b) Any mental illness?: <b>No</b></div>
                            <div class="col-12"></div>
                        </div>

                    </div>
                    <div class="space"></div>
                     <!-- Question 12-->
                    <div class="container">
                            <div class="row">
                                <div class="col">
                                    12. Female Donors Only
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">a) Are you pregnant or have a baby under 1 year old?: <b>No</b></div>
                                <div class="col-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">b) Are you having menstruation?: <b>No</b></div>
                                <div class="col-12"></div>
                            </div>

                    </div>
                    <div class="space"></div>
                     <!-- Question 13-->
                    <div class="container">
                            <div class="row">
                                <div class="col">
                                    13. In the last 6 months, have you had:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">a) any blood transfusion?: <b>No</b></div>
                            </div>
                            <div class="row">
                                <div class="col-12">b) any operations?: <b>No</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                     <!-- Question 14-->
                    <div class="container">
                            <div class="row">
                                <div class="col">
                                14. Have you ever received:
                            </div></div>
                            <div class="row">
                                <div class="col-12">a) treatment with human growth hormone?: <b>No</b></div>
                                <div class="col-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">b) cornea transplant?: <b>No</b></div>
                                <div class="col-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-12">c) transplant of brain membranes (duramater)?: <b>No</b></div>
                                <div class="col-12"></div>
                            </div>
                    </div>
                    <div class="space"></div>
                     <!-- Question 15-->
                   <div class="container">
                        <div class="row">
                           <div class="col">
                            15. You should <b>NEVER GIVE BLOOD IF</b>:
                           </div>
                        </div>
                        <div class="row">
                           <div class="col">
                            <li> you and your partner are HIV positive</li>
                            <li> you are man who has had sex with another man</li>
                            <li> you have multiple sex partners</li>
                            <li> you have ever worked as a prostitute</li>
                            <li> you have ever injected yourslef, even once, with drugs (including body building drugs)</li>
                            <li> you have had sex with prostitute</li>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">a) are you one of the above?: <b>No</b></div>
                        </div>
                        <div class="row">
                            <div class="col-12">b) are you sex partner of above?: <b>No</b></div>
                            <div class="col-12"></div>
                        </div>
                   </div>
                   <div class="space"></div>
                     <!-- Question 16-->
                   <div class="container">
                    <div class="row">
                        <div class="col-12">16. Do you donate blood to test for HIV or HEPATITIS?: <b>No</b></div>
                        <div class="col-12"></div>
                    </div>
                   </div>
                   <div class="space"></div>
                     <!-- Question 17-->
                   <div class="container">
                    <div class="row">
                        <div class="col-12">17. Have you ever lived in the United Kingdom (England, Northern, Ireland, Scotland, Wales, the Isle of Man, or the Channel Island) or Republic of Ireland from 1980 to 1996 for a period of 6 month or longer?: <b>No</b></div>
                        <div class="col-12"></div>
                    </div>
                   </div>
                   <div class="space"></div>
                     <!-- Question 18-->
                   <div class="container">
                    <div class="row">
                        <div class="col-12">18. Have you ever lived in Europe from 1980 to the present for a period of 6 months or longer?: <b>No</b></div>
                        <div class="col-12"></div>
                    </div>
                   </div>

                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select #Status>
                      <mat-option *ngFor="let approval of approvals" [value]="approval.value">
                        {{approval.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <div mat-dialog-actions>
                    <button mat-raised-button col-12or="primary"
                        (click)="update(Status.value)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>