
  #login .container #login-row #login-column #login-box {
    margin-top: 150px;
    max-width: 600px;
    height: 200px;
    //border: 1px solid #f10707;
    background-color: #ffffff;
    border-radius: 3%;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    cursor: pointer;
  }

  .text-info{
    color: #f10707 !important;
    padding-top: 5px;
  }
