<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">REGISTER USER</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div mat-dialog-content>
                    <mat-form-field>
                        <input matInput #email placeholder="Email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput #password placeholder="Password">
                    </mat-form-field>
                </div>
                <div mat-dialog-actions>
                    <button mat-raised-button color="primary"
                    (click)="authService.SignUp(email.value, password.value)">Save</button>
                </div>

            </div>
        </div>

    </div>
</div>